<div class="d-flex justify-content-center">

    <h1>Formulário de Adoção</h1>



    <form class="row g-3">
        <div class="mb-3 col-12">
            <label for="formGroupExampleInput" class="form-label">Nome Completo</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Digite seu nome completo">
        </div>

        <div class="mb-3 col-12">
            <label for="formGroupExampleInput" class="form-label">Data de Nascimento</label>
            <input id="date" type="date" class="form-control">
        </div>

        <div class="mb-3 col-12">
            <label for="inputAddress" class="form-label">CEP</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="1234 0000">
        </div>

        <div class="mb-3 col-12">
            <label for="inputAddress" class="form-label">Endereço</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="Rua, Bairro, número, complemento">
        </div>

        <div class="mb-3 col-11">
            <label for="inputCity" class="form-label">Cidade</label>
            <input type="text" class="form-control" id="inputCity">
        </div>

        <div class="mb-3 col-1">
            <label for="inputCity" class="form-label">UF</label>
            <input type="text" class="form-control" id="inputCity">
        </div>

        <div class="mb-3 col-6">
            <label for="formGroupExampleInput" class="form-label">Telefone Fixo</label>
            <input type="text" class="form-control" id="inputTelefone" placeholder="(11)9999-9999">
        </div>

        <div class="mb-3 col-6">
            <label for="formGroupExampleInput2" class="form-label">Celular</label>
            <input type="text" class="form-control" id="input" placeholder="(11)99999-9999">
        </div>

        <div class="mb-3 col-12">
            <label for="inputEmail4" class="form-label">Email</label>
            <input type="email" class="form-control" id="inputEmail4">
        </div>

        <div class="mb-3 col-6">
            <label for="formGroupExampleInput" class="form-label">Profissão</label>
            <input type="text" class="form-control" id="inputProfisao" placeholder="Digite sua profissão">
        </div>

        <div class="mb-3 col-6">
            <label for="formGroupExampleInput" class="form-label">Empresa</label>
            <input type="text" class="form-control" id="inputEmpresa" placeholder="Nome da Empresa">
        </div>

        <div class="mb-3 col-6">
            <label for="formGroupExampleInput2" class="form-label">Profissão do cônjuge</label>
            <input type="text" class="form-control" id="inputProfisaoConjuge" placeholder="Digite sua profissão">
        </div>

        <div class="mb-3 col-6">
            <label for="formGroupExampleInput2" class="form-label">Empresa do Cônjuge</label>
            <input type="text" class="form-control" id="inputEmpresaConjuge" placeholder="Nome da Empresa do Cônjuge">
        </div>

        <div class=" mb-3 col-12">
            <label class="form-label">Estado Civil</label>
            <select class="form-select col-12" aria-label="Default select example">
                <option selected class="col-12">Escolha...</option>
                <option value="1">Solteiro</option>
                <option value="2">Casado</option>
                <option value="3">Viuvo</option>
            </select>
        </div>

        <div class="mb-3 col-12">
            <label for="formGroupExampleInput2" class="form-label">Caso possua filhos, indicar quantos e suas
                idades:</label>
            <input type="text" class="form-control" id="inputTerreno" placeholder="Especifique">
        </div>

        <div class="mb-3 col-3">
            <label class="form-label">Residencia</label>
            <select class="form-selec" aria-label="Default select example">
                <option selected class="col-3">Escolha...</option>
                <option value="1">Própria</option>
                <option value="2">Alugada</option>
                <option value="3">Outra</option>
            </select>
        </div>

        <div class="mb-3 col-3">
            <label class="form-label ">Mora em</label>
            <select class="form-select" aria-label="Default select example">
                <option selected class="col-3">Escolha...</option>
                <option value="1">Casa</option>
                <option value="2">Apartamento</option>
                <option value="3">outro</option>
            </select>
        </div>

        <div class="mb-3 col-3">
            <label class="form-label">Possui janelas com Telas</label>
            <select class="form-select" aria-label="Default select example">
                <option selected class="col-3">Escolha...</option>
                <option value="1">Sim </option>
                <option value="2">Não</option>

            </select>
        </div>

        <div class="mb-3 col-3">
            <label class="form-label">Possui quintal</label>
            <select class="form-select" aria-label="Default select example">
                <option selected class="col-3">Escolha...</option>
                <option value="1">Sim </option>
                <option value="2">Não</option>

            </select>
        </div>

        <div class="mb-3 col-12">
            <label for="formGroupExampleInput2" class="form-label">Quantos pessoas moram na residência. (Por favor, faça
                uma breve descrição):</label>
            <input type="text" class="form-control" id="inputTerreno" placeholder="Especifique">
        </div>

        <div class="mb-3 col-12">
            <label for="formGroupExampleInput2" class="form-label">Como é o fechamento do terreno, tipo de portão (para
                casas):</label>
            <input type="text" class="form-control" id="inputTerreno" placeholder="Especifique">
        </div>

        <div class="mb-3 col-12">
            <label for="formGroupExampleInput2" class="form-label">Indique o nome e telefone de duas pessoas próximas
                para contato:</label>
            <input type="text" class="form-control" id="inputContato" placeholder="Nome e Número de Telefone">
        </div>

        <div class="mb-3 col-12">
            <label class="form-label">Você autoriza contactar essas pessoas durante o processo de adoção?</label>
            <select class="form-select col-12" aria-label="Default select example">
                <option selected class="col-12">Escolha...</option>
                <option value="1">Sim </option>
                <option value="2">Não</option>
            </select>
        </div>

        <div class=" mb-3 col-12">
            <label class="form-label">Já teve algum animal em sua residência?</label>
            <select class="form-select col-12" aria-label="Default select example">
                <option selected>Escolha...</option>
                <option value="1">Sim </option>
                <option value="2">Não</option>
            </select>
        </div>

        <div class="mb-3 col-12">
            <label for="formGroupExampleInput2" class="form-label">Em caso afirmativo, qual e por quanto tempo?
            </label>
            <input type="text" class="form-control" id="inputTerreno" placeholder="Especifique">
        </div>

        <div class="mb-3 col-12">
            <label for="formGroupExampleInput2" class="form-label">Qual é o animal de seu interesse (o nome está na
                postagem do MatchPet - importante para sabermos para qual animal será o processo)
                :</label>
            <input type="text" class="form-control" id="inputContato" placeholder="Nome e Número de Telefone">
        </div>

        <div class=" mb-3 col-6">
            <label class="form-label">Poderia ser um outro animal da mesma espécie? Select </label>
            <select class="form-select col-6" aria-label="Default select example">
                <option selected class="col-6">Escolha...</option>
                <option value="1">Sim</option>
                <option value="2">Não</option>
            </select>
        </div>

        <div class=" mb-3 col-6">
            <label class="form-label">Tenho consciência das despesas que um animal provoca</label>
            <select class="form-select col-6" aria-label="Default select example">
                <option selected class="col-6">Escolha...</option>
                <option value="1">Sim</option>
                <option value="1">Sim,mas não seiexatamente</option>
                <option value="2">Não</option>
            </select>
        </div>

        <div class=" mb-3 col-6">
            <label class="form-label">Possuo aprovação de todos em casa para adoção</label>
            <select class="form-select col-6" aria-label="Default select example">
                <option selected class="col-6">Escolha...</option>
                <option value="1">Sim</option>
                <option value="2">Não</option>
            </select>
        </div>

        <div class="mb-3 col-6">
            <label class="form-label">Já tentou adotar algum animal em outra ONG</label>
            <select class="form-select col-6" aria-label="Default select example">
                <option selected class="col-6">Escolha...</option>
                <option value="1">Sim</option>
                <option value="2">Não</option>
            </select>
        </div>

        <div class="mb-3 col-12">
            <label for="formGroupExampleInput2" class="form-label">Em caso afirmativo, qual ONG?</label>
            <input type="text" class="form-control" id="inputFace">
        </div>

        <div class=" mb-3 col-12">
            <label class="form-label">Concorda com a vista dos protetores de animais, para verificar as condições em que
                o animal está?</label>
            <select class="form-select col-12" aria-label="Default select example">
                <option selected class="col-12">Escolha...</option>
                <option value="1">Sim</option>
                <option value="2">Não</option>
            </select>
        </div>

        <div class=" mb-3 col-12">
            <label class="form-label">Conseguiria mandar notícias do animal e de sua adaptação?</label>
            <select class="form-select col-12" aria-label="Default select example">
                <option selected class="col-12">Escolha...</option>
                <option value="1">Sim</option>
                <option value="2">Não</option>
            </select>
        </div>

        <div class="mb-3 col-12">
            <label for="formGroupExampleInput2" class="form-label">Em caso de viagem, qual o procedimento para com o
                animal
            </label>
            <input type="text" class="form-control" id="inputFace">
        </div>


        <div class="mb-3 col-12">
            <label for="formGroupExampleInput2" class="form-label">O animal terá acesso a todos os ambientes da
                residência ou terá locais determinados (comente brevemente)
            </label>
            <input type="text" class="form-control" id="inputFace">
        </div>

        <div class=" mb-3 col-12">
            <label class="form-label">Conhece algum veterinário em sua região?</label>
            <select class="form-select col-12" aria-label="Default select example">
                <option selected class="col-12">Escolha...</option>
                <option value="1">Sim</option>
                <option value="2">Não</option>
            </select>
        </div>

        <div class="mb-3 col-12">
            <label for="formGroupExampleInput2" class="form-label">Você está ciente que cachorros e gatos soltam pelos
                no ambiente? Você está preparado para lidar com essa situação?
            </label>
            <input type="text" class="form-control" id="inputFace">
        </div>

        <div class="mb-3 col-12">
            <label for="formGroupExampleInput2" class="form-label">Você está ciente que cães e gatos precisam de um
                tempo para adaptação ao novo lar?
            </label>
            <input type="text" class="form-control" id="inputFace">
        </div>

        <div class="mb-3 col-12">
            <label for="formGroupExampleInput2" class="form-label">Você tem paciência para ensinar o animal adotado a
                fazer as necessidades no local certo?

            </label>
            <input type="text" class="form-control" id="inputFace">
        </div>

        <div class="mb-3 col-12">
            <label for="formGroupExampleInput2" class="form-label">
                Você tem consciência que o animal que você está adotando, já foi abandonado, e que procuramos pessoas
                responsáveis para adotar, que não façam esse animal passar por novo trauma?

            </label>
            <input type="text" class="form-control" id="inputFace">
        </div>

        <div class="mb-3 col-12">
            <label for="formGroupExampleInput2" class="form-label">Você tem consciência que esse animalzinho vai viver
                na sua casa em média 10 anos?

            </label>
            <input type="text" class="form-control" id="inputFace">
        </div>

        <div class="mb-3 col-12">
            <label for="formGroupExampleInput2" class="form-label">
                Você está preparado para que ele te acompanhe até o fim da vida dele ? Independente das mudanças que
                possam ocorrer na sua vida, como por exemplo casamento, separação , nascimento de filhos, mudança de
                endereço, estado ou até país ?

            </label>
            <input type="text" class="form-control" id="inputFace">
        </div>

        <div class="mb-3 col-12">
            <label for="formGroupExampleInput2" class="form-label">
                Você tem consciência que um animalzinho requer tanto cuidado quanto uma criança, e que ele sai da ONG
                para ser parte de uma família?

            </label>
            <input type="text" class="form-control" id="inputFace">
        </div>

        <div class="mb-3 col-12">
            <label for="formGroupExampleInput2" class="form-label">Você está preparado para alguma despesa extra no caso
                do seu adotado adoecer ?

            </label>
            <input type="text" class="form-control" id="inputFace">
        </div>

        <div class="mb-3 col-12">
            <label for="formGroupExampleInput2" class="form-label">Voce tem certeza que no local onde você mora é
                permitido ter animais ?


            </label>
            <input type="text" class="form-control" id="inputFace">
        </div>


        <div class="mb-3 col-12">
            <label for="formGroupExampleInput2" class="form-label">Qual o seu Facebook (link)?</label>
            <input type="text" class="form-control" id="inputFace" placeholder="Another input placeholder">
        </div>

        <div class="mb-3 col-12">
            <label for="formGroupExampleInput2" class="form-label">Qual o seu Instagram (link)?</label>
            <input type="text" class="form-control" id="inputInsta" placeholder="Another input placeholder">
        </div>

        <div class=" mb-3 col-12">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                    Confirmo todos as politicas do site
                </label>
            </div>

        </div>

        <div class="mb-3 col-12">
            <button type="submit" class="btn btn-primary col-12">Enviar</button>
        </div>

    </form>
</div>