.carousel-caption {
    bottom: 10px
}
.carousel-caption p, h5 {
    margin-bottom: 0;
}

.body {
    /* background-color: hsl(35, 42%, 76%) !important; */
    background-color: hsl(33, 100%, 93%);
}

#aside {
    border: 2px solid white;
    background-color: #dbdaea;
}

#main {
    border: 2px solid white;
    background-color: #fedc97;
}

.btn-blueberry {
    background-color: #dbfcff;
}

.btn-blueberry:hover {
    background-color: hsl(215, 14%, 49%);
}

