.carousel-caption {
    bottom: 10px
}
.carousel-caption p, h5 {
    margin-bottom: 0;
}

.body {
    /* background-color: hsl(35, 42%, 76%) !important; */
    background-color: hsl(33, 100%, 93%);
}

#aside {
    background-color: #dbdaea;
    border: 3px inset #b6b4d0;
}

.chat {
    background-color: hsl(244, 28%, 97%);
    border: 3px inset #b6b4d0;
}

.mensagem-outro {
    background-color: #fee5b3;
    width: fit-content;
}

.mensagem-minha {
    background-color: #dbfcff;
    width: fit-content;
}

#main {
    background-color: #fedc97;
    box-shadow: 10px 10px 10px 5px #deb664;
}

.btn-blueberry {
    background-color: #dbfcff;
}

.btn-blueberry:hover {
    background-color: #cbecef;
}

.btn-dark{
    background-color: #3c4562;
}

.btn-light:hover{
    background-color: #3c4562;
}

.btn-light:active{
    background-color: black !important;
}

.btn-outline-dark{
    background-color:white;
}

.btn-outline-dark:hover{
    background-color: #3c4562;
}

.teste{
    width: 120px;
    height: 120px;
    margin: 0;
    padding: 0;
}

.btnExcluir{
    width: 20px;
    height: 20px;

}

.caixa-mensagem:hover{
    background-color: lightblue;
}

.cPointer{
    cursor: pointer;
}

.tamanhoImagem{
    height:400px;
}