.parallax {
    background-image: url('/assets/imgs/ParallaxCaoGato.jpg');

    min-height: 100vh;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
 