.parallax {
    background-image: url('/assets/imgs/ParallaxCaoGato.jpg');

    min-height: 100vh;
   
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 1920px;
    
}
 
.aspas{
    width: 1.25em;
    height: auto;
}

.banner{
    position: absolute;
    top: 56%;
    left: 42%;
   
}

.btnestilo{

    width: 250px;
    height: 250px;
    bottom: 100px;

}

.centralizar{
    max-width: 100%;
    width: 300px;
    height: 300px;
    position: absolute; 
	left: 570px; 
	top: 70px;

      
  }

  .centralizar2{
    position: relative;
    left: 300%;
    max-width: 100%;
    font-size: 25px;
  }

  .centralizar3{
    position: relative;
    left: 450%;
    max-width: 100%;
    font-size: 25px;
  }

 