<div class="d-flex justify-content-center">
    <div class="d-flex flex-column w-25">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                placeholder="Exemplo@email.com"[(ngModel)]="usuarioLogin.email">
            <small id="emailHelp" class="form-text text-muted"> Você está em um ambiente seguro</small>
        </div>
        <div class="form-group">
            <label for="senha">Senha</label>
            <input type="password" class="form-control" id="senha"[(ngModel)]="usuarioLogin.senha">

        </div>
        <button type="submit" class="btn btn-primary"(click)="logar()">Login</button>
    </div>
</div>