<div class="d-flex justify-content-center p-2 flex-wrap align-items-center body">

    <img class="img-fluid max-width=100%" src="assets/imgs/casa.png" alt="">


    <div class="p-5">
        <h1>Entrar na conta </h1>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                placeholder="Exemplo@email.com"[(ngModel)]="usuarioLogin.email">
          
        </div>
        <div class="form-group">
            <label for="senha">Senha</label>
            <input type="password" class="form-control" id="senha"[(ngModel)]="usuarioLogin.senha">

        </div>
        <button type="submit" class="btn btn-primary"(click)="logar()">Login</button>

        <p>Não tem conta? <a href="" routerLink='/cadastro'>Crie uma!</a></p>
    </div>
</div>