.btn-primary{
    background-color: rgb(250,194,49);
} 

.btn-primary:active{
   background-color: rgb(247,138,47) !important;
} 
.body{
    background-color: rgb(255, 239, 219);
   
}

a{
    color:rgb(247,138,47) ;
}