<div class="d-flex justify-content-center p-2 flex-wrap body align-items-center">


    <div class="p-5">

        <img class="img-fluid img-thumbnail" width="300px" 
            src="https://res.cloudinary.com/ricamartins/image/upload/v1607472904/default-user-image_bh0uz4.png"
            onerror="event.target.style.display = 'none'" alt="image" id="img-preview">


        <div class="p-2 d-flex justify-content-center" >
            <label for="file-upload" class="file-upload-container" class="btn btn-outline-dark">
                <input class="d-none" type="file" name="file" id="file-upload" title=''>
                Selecione uma imagem
            </label>
        </div>

    </div>

    <div class="p-5" >
        <h1>Cadastre-se</h1>
        <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" id="nome" aria-describedby="emailHelp"
                placeholder="Nome e Sobrenome" [(ngModel)]='usuario.nomeCompleto'>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                placeholder="Exemplo@email.com" [(ngModel)]='usuario.emailUsuario'>
            
        </div>
        <div class="form-group">
            <label for="senha">Senha</label>
            <input type="password" class="form-control" id="senha" (input)="capturarSenha($event)">
        </div>
        <div class="form-group">
            <label for="confirmacao">Confirmação de senha</label>
            <input type="password" class="form-control" id="confirmacao" [(ngModel)]='usuario.senhaUsuario'>
        </div>
        <div class="form-group">
            <label for="telefone">Telefone:</label>
            <input type="text" class="form-control" id="telefone" [(ngModel)]='usuario.telefoneUsuario'>
        </div>
        <div  >
          <button type="submit" class="btn btn-primary btn-lg " (click)="cadastrar()">Cadastrar</button>
        </div>
    </div>

    <img class="img-fluid max-width=100%" src="assets/imgs/sombraMulher.png" alt="">

</div>