.parallax{
    background-image: url('/assets/Imagens_Pessoais/1.jpg');

    min-height: 400px;

    background-attachment: fixed;

    background-position: center;

    background-repeat: no-repeat;

    background-size: cover;
}

.espaçamento {
    padding: 15px;
    align-items: center;
    text-align: center;
    width: 65px;
    height: 65px;
}
.px-15 {
   padding: 15px;
}

#fonte-24{
    font-size: 23px;
   }
   
#card-avaliacao:hover{
       box-shadow: inset 0 0 1em black, 0 0 1em rgb(173, 216, 230);
       transform:scale(1.05);
       transition: .5s;    
       background-color: lightblue;
}

#texto-sobre-nos:hover{
    box-shadow: inset 0 0 1em black, 0 0 1em rgb(173, 216, 230);    
    background-color: lightblue;
}



.espaçamento {
    padding: 15px;
    align-items: center;
    text-align: center;
    width: 65px;
    height: 65px;
}

.border-none {
    border: none;
}