.parallax{
    background-image: url('/assets/Imagens_Pessoais/1.jpg');

    min-height: 500px;

    background-attachment: fixed;

    background-position: center;

    background-repeat: no-repeat;

    background-size: cover;
}





