.parallax{
    background-image: url('/assets/Imagens_Pessoais/1.jpg');

    min-height: 500px;

    background-attachment: fixed;

    background-position: center;

    background-repeat: no-repeat;

    background-size: cover;
}

.espaçamento {
    padding: 15px;
    align-items: center;
    text-align: center;
    width: 65px;
    height: 65px;
}
.px-15 {
   padding: 15px;
}




