<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <style>
        .espaçamento {
            padding: 15px;
            align-items: center;
            text-align: center;
            width: 65px;
            height: 65px;
        }
        .px-15 {
           padding: 15px;
        }
           </style>

</head>

<body>

    <!--Começo da div do parallax-->
    <div class="parallax"> </div>
    <!--Final da div do parallax-->


    <!--Começo Dos Cards sobre nós-->
    <div class="parallax">
        <div class="container px-15">
            <div class="card-group">

                <!--Card Matheus Araujo-->
                <div class="card border-dark">
                    <img src="/assets/Imagens_Pessoais/MatheusAraujo.jpg" class="card-img-top" alt="Foto Matheus Araujo"
                        width="300px" height="300px">
                    <div class="card-body">
                        <h5 class="card-title">Matheus Araujo</h5>
                        <p class="card-text">Técnico em Desenvolvimento de Sistemas. |Desenvolvedor Full Stack Java
                            Junior |
                            Java
                            Developer | Scrum | Spring Boot | HTML5 | CSS3 | JavaScript | MySQL | Bootstrap.</p>
                    </div>
                    <div class="card-footer" class="card text-dark text-center bg-warning">
                        <small class="text-muted">

                            <a href="https://www.linkedin.com/in/matheuxaraujo/" target="_blanck">
                                <img src="/assets/Imagens_Pessoais/linkedin.png" class="espaçamento"></a>

                            <a href="https://github.com/Matheusdeveloped/" target="_blanck">
                                <img src="/assets/Imagens_Pessoais/github.png" class="espaçamento"></a>

                            <a href="https://wa.me/5511957978408?" target="_blanck">
                                <img src="/assets/Imagens_Pessoais/whatsapp.png" class="espaçamento"></a>

                        </small>
                    </div>
                </div>
                <!--fInal-->

                <!--Card Matheus Torok-->
                <div class="card" class="card border-dark">
                    <img src="/assets/Imagens_Pessoais/matheus.jpg" class="card-img-top" alt="Foto Matheus Torok"
                        width="300px" height="300px">
                    <div class="card-body">
                        <h5 class="card-title">Matheus Torok</h5>
                        <p class="card-text">Técnico em Desenvolvimento de Sistemas. |Desenvolvedor Full Stack Java
                            Junior |
                            Java
                            Developer | Scrum | Spring Boot | HTML5 | CSS3 | JavaScript | MySQL | Bootstrap.</p>
                    </div>
                    <div class="card-footer" class="card text-dark text-center bg-warning">
                        <small class="text-muted">

                            <a href="https://www.linkedin.com/in/matheus-trindade-torok-2917751b7/" target="_blanck">
                                <img class="espaçamento" src="/assets/Imagens_Pessoais/linkedin.png"></a>

                            <a href="https://github.com/mtorokm" target="_blanck">
                                <img class="espaçamento" src="/assets/Imagens_Pessoais/github.png"></a>

                            <a href="https://wa.me/5511993738211?" target="_blanck">
                                <img class="espaçamento" src="/assets/Imagens_Pessoais/whatsapp.png"></a>
                        </small>
                    </div>
                </div>
                <!--Final-->

                <!--Card Rafaela-->
                <div class="card" class="card border-dark">
                    <img src="/assets/Imagens_Pessoais/rafaela.jpg" class="card-img-top" alt="Foto Rafaela"
                        width="300px" height="300px">
                    <div class="card-body">
                        <h5 class="card-title">Rafaela Albuquerque</h5>
                        <p class="card-text">Técnico em Desenvolvimento de Sistemas. |Desenvolvedor Full Stack Java
                            Junior |
                            Java
                            Developer | Scrum | Spring Boot | HTML5 | CSS3 | JavaScript | MySQL | Bootstrap.</p>
                    </div>
                    <div class="card-footer" class="card text-dark text-center bg-warning">
                        <small class="text-muted">

                            <a href="https://www.linkedin.com/in/rafaela-albuquerque-8151581b0/" target="_blanck">
                                <img class="espaçamento" src="/assets/Imagens_Pessoais/linkedin.png"></a>

                            <a href="https://github.com/RafaelaAlbuquerque" target="_blanck">
                                <img class="espaçamento" src="/assets/Imagens_Pessoais/github.png"></a>

                            <a href="https://wa.me/5511954142949?" target="_blanck">
                                <img class="espaçamento" src="/assets/Imagens_Pessoais/whatsapp.png"></a>
                        </small>
                    </div>
                </div>
                <!--Final Card Superior-->
            </div>
        </div>

           
        <div class="container px-15">
        <div class="card-group">


                <!--Card Ricardo Martins-->
                <div class="card" class="card border-dark">
                    <img src="/assets/Imagens_Pessoais/ricardo.jpg" class="card-img-top" alt="Foto Ricardo Martins"
                        width="300px" height="300px">
                    <div class="card-body">
                        <h5 class="card-title">Ricardo Martins</h5>
                        <p class="card-text">Técnico em Desenvolvimento de Sistemas. |Desenvolvedor Full Stack Java
                            Junior |
                            Java
                            Developer | Scrum | Spring Boot | HTML5 | CSS3 | JavaScript | MySQL | Bootstrap.</p>
                    </div>
                    <div class="card-footer" class="card text-dark text-center bg-warning">
                        <small class="text-muted">

                            <a href="https://www.linkedin.com/in/ricamartins/" target="_blanck">
                                <img class="espaçamento" src="/assets/Imagens_Pessoais/linkedin.png"></a>

                            <a href="https://github.com/ricamartins" target="_blanck">
                                <img class="espaçamento" src="/assets/Imagens_Pessoais/github.png"></a>

                            <a href="https://wa.me/5511958111009?" target="_blanck">
                                <img class="espaçamento" src="/assets/Imagens_Pessoais/whatsapp.png"></a>
                        </small>
                    </div>
                </div>
                <!--Final-->

                <!-- Card Phelipe-->
                <div class="card" class="card border-dark">
                    <img src="/assets/Imagens_Pessoais/PhelipeTeste.jpeg" class="card-img-top" alt="Foto Phelipe Almeida"
                        width="300px" height="300px">
                    <div class="card-body">
                        <h5 class="card-title">Phelipe Almeida</h5>
                        <p class="card-text">Técnico em Desenvolvimento de Sistemas. |Desenvolvedor Full Stack Java
                            Junior |
                            Java
                            Developer | Scrum | Spring Boot | HTML5 | CSS3 | JavaScript | MySQL | Bootstrap.</p>
                    </div>
                    <div class="card-footer" class="card text-dark text-center bg-warning">
                        <small class="text-muted">

                            <a href="https://www.linkedin.com/in/phelipe-almeida-1009b968/" target="_blanck">
                                <img class="espaçamento" src="/assets/Imagens_Pessoais/linkedin.png"></a>

                            <a href="https://github.com/Phelipe-Souza" target="_blanck">
                                <img class="espaçamento" src="/assets/Imagens_Pessoais/github.png"></a>

                            <a href="https://wa.me/5511974179900?" target="_blanck">
                                <img class="espaçamento" src="/assets/Imagens_Pessoais/whatsapp.png"></a>
                        </small>
                    </div>
                </div>
                <!--Final-->

                <!--Card Karina-->
                <div class="card" class="card border-dark">
                    <img src="/assets/Imagens_Pessoais/karina.jpg" class="card-img-top" alt="Foto Karina Lima"
                        width="300px" height="300px">
                    <div class="card-body">
                        <h5 class="card-title">Karina Lima</h5>
                        <p class="card-text">Técnico em Desenvolvimento de Sistemas. |Desenvolvedor Full Stack Java
                            Junior |
                            Java
                            Developer | Scrum | Spring Boot | HTML5 | CSS3 | JavaScript | MySQL | Bootstrap.</p>
                    </div>
                    <div class="card-footer" class="card text-dark text-center bg-warning">
                        <small class="text-muted">
                            <a href="https://www.linkedin.com/in/karina-lima-850480116/" target="_blanck">
                                <img class="espaçamento" src="/assets/Imagens_Pessoais/linkedin.png"></a>

                            <a href="https://github.com/KarinaLimaBRR" target="_blanck">
                                <img class="espaçamento" src="/assets/Imagens_Pessoais/github.png"></a>

                            <a href="https://wa.me/5511937698149?" target="_blanck">
                                <img class="espaçamento" src="/assets/Imagens_Pessoais/whatsapp.png"></a>
                        </small>
                    </div>
                </div>
                <!--Final dos cards inferior-->
                
            </div>
        </div>
        <!--Final dos Cards Sobre nós-->

    </div>

</body>

</html>