<!--Começo dos cards e Sobre nós-->


<div class="parallax"> </div>

    <div class="card-group">
        <div class="card">
            <img src="/assets/Imagens_Pessoais/MatheusAraujo.jpg" width="235px" Height="235px" class="card-img-top"
                alt="...">
            <div class="card-body" class="card text-white bg-primary " >
                <h5 class="card-title">Matheus Araujo</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This card has even longer content than the first to show that equal height action.</p>
            </div>
        </div>
        <div class="card">
            <img src="/assets/Imagens_Pessoais/matheus.jpg" width="240px" Height="235px" alt="...">
            <div class="card-body" class="card text-white bg-primary ">
                <h5 class="card-title">Matheus Torok</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This card has even longer content than the first to show that equal height action.</p>
            </div>
        </div>
        <div class="card">
            <img src="/assets/Imagens_Pessoais/phelipe.jpg" width="235px" Height="235px" class="card-img-top" alt="...">
            <div class="card-body" class="card text-white bg-primary ">
                <h5 class="card-title">Phelipe Almeida</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This card has even longer content than the first to show that equal height action.</p>
            </div>
        </div>
        <div class="card">
            <img src="/assets/Imagens_Pessoais/rafaela.jpg" width="235px" Height="235px" class="card-img-top" alt="...">
            <div class="card-body"  class="card text-white bg-primary ">
                <h5 class="card-title">Rafaela Albuquerque</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This card has even longer content than the first to show that equal height action.</p>
            </div>
        </div>
        <div class="card">
            <img src="/assets/Imagens_Pessoais/ricardo.jpg" width="235px" Height="235px" class="card-img-top" alt="...">
            <div class="card-body"  class="card text-white bg-primary ">
                <h5 class="card-title">Ricardo Martins</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This card has even longer content than the first to show that equal height action.</p>
            </div>
        </div>
        <div class="card">
            <img src="/assets/Imagens_Pessoais/karina.jpg" width="235px" Height="235px" class="card-img-top" alt="...">
            <div class="card-body"  class="card text-white bg-primary ">
                <h5 class="card-title">Karina Lima</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This card has even longer content than the first to show that equal height action.</p>
            </div>
        </div>
    </div>
    <div class="parallax"> </div>



<!--Final dos Cards e final do sobre nos-->