<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  
</head>

<body>


  <div class="container">
    <div>
      <img class="espaçamento" src="/assets/Imagens_Pessoais/pomba.png" alt="Foto Pomba">
      <img class="espaçamento" src="/assets/Imagens_Pessoais/bandeira2.png" alt="Fale conosco">
      <img class="espaçamento" src="/assets/Imagens_Pessoais/pomba.png" alt="Foto Pomba">
    </div>

    <div class="row">
      <form class="col-md-7">
        <div class="form-group">
          <label>Nome:</label>
          <input type="nome" class="form-control" placeholder="Digite o nome completo">
        </div>
        <div class="form-group">
          <label>Email:</label>
          <input type="email" class="form-control" placeholder="nome@email.com">
        </div>

        <div class="form-group">
          <label>Assunto:</label>
          <input type="assunto" class="form-control" placeholder="Ex: Adoção">
        </div>

        <div class="form-group">
          <label for="exampleFormControlTextarea1">Texto:</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>

        <div class="p-4">
          <button type="submit" class=" btn-primary" routerLink="">Enviar</button>
        </div>
      </form>

      <div class="col-md-4"><br>
        <label>Endereço:</label>
        <p>Rua. Conego Eugenio Leite, 623. 3º andar.</p>
        <p>Pinheiros – São Paulo – SP</p>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.1353082312467!2d-46.68338588502216!3d-23.563583384681895!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce579d45a95e2d%3A0x73c42dcfc196cc70!2sR.%20C%C3%B4nego%20Eug%C3%AAnio%20Leite%2C%20623%20-%203%C2%BA%20andar%20-%20Pinheiros%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2005414-011!5e0!3m2!1spt-BR!2sbr!4v1607738562541!5m2!1spt-BR!2sbr"
          width="400" height="260" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
          tabindex="0"></iframe>
      </div>

    </div>
  </div>

</body>

</html>
