ul.social-network {
    list-style: none;
    display: inline;
    padding: 0;
}
  
ul.social-network li {
    display: inline;
    margin: 0;
    padding: 5px;
}
  
.faFacebook,.faInstagram{
    color: white;
}
  
.faFacebook:hover{
    color: #1c2c5d;
}
  
  
.faInstagram:hover{
    color: #C13584;
}

.footer1{
    background-color: #56638a;
}

.footer2{
    background-color: #3c4562;
}